<h1> Author: <%= @message.author %> </h1>


<p>
  <%= @message.content %>
  <a href="<%= @message.url %>"><%= @message.url %></a>
</p>

<p>
  Message created at:<%= @message.created_at %>
</p>

<hr/>
<a href="/messages">Back to All Messages</a>